{% extends 'base-logged-page.twig' %}
{% block content %}
    {% macro cell(s, root) %}
        <div class="col-sm">
            <div class="card">
                <img src="{{ root }}/static/img/{{ s.type }}.png" height="128px" class="card-img-top" alt="{{ s.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ s.name }}</h5>
                    <p class="card-text sens" id="sens-{{ s.id }}">N/A</p>
                </div>
            </div>
        </div>
    {% endmacro %}

    {% macro category(c, root) %}
        <h2>{{ c.name }}</h2>
        <div id="sensori" class="row">
            {% for s in c.sensors %}
                {{ _self.cell(s, root) }}
            {% endfor %}
        </div>
    {% endmacro %}

    <h1>Sensori</h1>
    {% for c in categories %}
        {{ _self.category(c, root) }}
    {% endfor %}


    <style>
        #sensori, .content {
            margin-top: 32px;
        }

        .card {
            width: 18rem;
            margin: 16px;
        }

        .sens {
            font-size: 24px;
        }
    </style>

    <script>
        function sensori() {
            $.ajax({
                url: "/sensori/api/sensors",
                success: function (result) {
                    for (k in result) {
                        p = $('#sens-' + k);
                        valore = result[k];

                        p.text(valore);
                        p.css('color', 'red');
                        p.delay(100).queue(function (next) {
                            $(this).css('color', 'black');
                            next();
                        });
                    }
                }
            });
        }

        sensori();
        /*setInterval(function () {
            sensori();
        }, 500);*/
    </script>
{% endblock %}