{% extends 'base-page.twig' %}
{% block content %}
    {% macro cell(id, name, root) %}
        <div class="col-sm">
            <div class="card">
                <img src="{{ root }}/static/img/{{ id }}.png" height="128px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text sens" id="sens-{{ id }}">N/A</p>
                </div>
            </div>
        </div>
    {% endmacro %}

    <h1>Sensori</h1>
    <div id="sensori" class="row">
        {{ _self.cell('fuoco', 'Fuoco', root) }}
        {{ _self.cell('gas', 'Gas', root) }}
        {{ _self.cell('luce', 'Luce', root) }}
        {{ _self.cell('pioggia', 'Pioggia', root) }}
        {{ _self.cell('pir0', 'Movimento', root) }}
        {{ _self.cell('metro', 'Metro', root) }}
    </div>

    <form action="{{ root }}/api/notify">
        <input type="submit" value="Test notifica">
    </form>

    <style>
        #sensori, .container {
            margin-top: 32px;
        }

        .card {
            width: 18rem;
            margin: 16px;
        }

        .sens {
            font-size: 24px;
        }
    </style>

    <script>
        function sensori() {
            $.ajax({
                url: "/sensori/api/sensors",
                success: function (result) {
                    for (k in result) {
                        p = $('#sens-' + k);
                        valore = result[k];
                        if (k === "metro") {
                            valore = valore.toFixed(1) + " cm";
                        }
                        p.text(valore);
                        p.css('color', 'red');
                        p.delay(100).queue(function (next) {
                            $(this).css('color', 'black');
                            next();
                        });
                    }
                }
            });
        }

        sensori();
        setInterval(function () {
            sensori();
        }, 500);
    </script>
{% endblock %}