{% set active = "" %}
{% extends 'base-settings.twig' %}
{% block settings %}
    <h1>Edit sensor</h1>
    <form action="?" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ name }}">
        </div>

        <h2>Categories</h2>
        <p>Select the categories that contain this sensor</p>
        {% for c in categories %}
            <input id="c-{{ c.id }}" type="checkbox"
                   name="enabled[{{ c.id }}]" {% if c.belongs %} checked {% endif %}>
            <input type="hidden" name="categories[]" value="{{ c.id }}">
            <label for="c-{{ c.id }}">{{ c.name }}</label><br>
        {% endfor %}
        <button type="submit" class="btn btn-primary"> Change</button>
    </form>

{% endblock %}