{% set active = "users" %}
{% extends 'base-settings.twig' %}
{% block settings %}
    <h1>Add a user</h1>
    <p>Generate a link that will be valid to create a user for the specified amount of time</p>

    <select id="tokenHours" class="custom-select custom-select-sm">
        <option value="1">1 hour</option>
        <option value="6">6 hours</option>
        <option value="12">12 hours</option>
        <option value="24">1 day</option>
        <option value="72">3 days</option>
        <option value="168">7 days</option>
    </select>
    <div class="form-check" id="tokenAdminDiv">
        <input type="checkbox" class="form-check-input" id="tokenAdmin">
        <label class="form-check-label" for="tokenAdmin">Will be admin</label>
    </div>
    <button class="btn btn-primary" onclick="generateToken()">Generate add user token</button>
    <div id="tokenTextDiv" style="display: none">
        Token:<br>
        <input id="tokenText" type="text" disabled class="form-control">
        <div style="display: flex; flex-direction: row; margin-top: 8px">
            <a id="copyButton" class="btn btn-primary" style="margin-right: 4px" href="#">Copy link</a>
            <a id="goToButton" class="btn btn-primary" style="margin-left: 4px" href="#">Go to link</a>
        </div>
    </div>

    <h1 style="margin-top: 16px">Users</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Is admin</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <th scope="row">{{ u.id }}</th>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.name }}</td>
                <td>{% if u.isAdmin %} Yes {% else %} No {% endif %}</td>
                <td>
                    <form action="users/{{ u.id }}/edit" method="get">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <style>
        #tokenAdminDiv {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        #tokenTextDiv {
            margin-top: 16px;
        }
        #tokenTextDiv > div > a {
            width: 50%;
        }
    </style>

    <script>
        function generateToken() {
            let hours = $('#tokenHours').val();
            let admin = $('#tokenAdmin').is(":checked");
            console.log(admin);
            $.ajax({
                type: 'POST',
                url: '{{ root }}/api/generate_register_token',
                data: {
                    'hours': hours,
                    'will_be_admin': admin
                },
                success: function (r) {
                    let link = 'https://{{ domain }}{{ root }}/register?token=' + encodeURIComponent(JSON.parse(r));
                    $('#tokenTextDiv').css('display', 'block');
                    $('#tokenText').val(link);
                    $('#copyButton').on('click', () => {
                        navigator.clipboard.writeText(link).then(function() {
                        }, function() {
                            alert("Error copying to clipboard!")
                        });
                    });
                    $('#goToButton').attr('href', link);
                }
            });
        }
    </script>
{% endblock %}