{% set active = "categories" %}
{% extends 'base-settings.twig' %}
{% block settings %}
    <h1>Add category</h1>
    <form action="categories/add" method="post">
        <div class="form-group">
            <label for="name">Name of category</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <h1 style="margin-top: 16px">Categories</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number of Sensors</th>
            <th scope="col">Users</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for c in categories %}
            <tr>
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.name }}</td>
                <td>{{ c.sensorsCount }}</td>
                <td>
                    {% if c.users %}
                        <ul>
                            {% for u in c.users %}
                                <li>{{ u.username }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i>No users</i>
                    {% endif %}
                </td>
                <td>
                    <form action="categories/{{ c.id }}/edit" method="get">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="categories/delete" method="post">
                        <input type="hidden" name="id" value="{{ c.id }}">
                        <button type="submit" class="btn btn-primary btn-red">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}